html,body{height:100%;}

.container {
    height:100%;
}

#rigth-panel{
    height: 100%;
     background-position:center;
    background-image: url('../images/green_river.png');
}

#model_rocket {
       background-position:center;
    background-image: url('../images/rockets.jpg');
}

#left-panel{
    height: 100%;
}

.fill{

    height:100%;
    min-height:100%;
    padding:10px;
    color:#efefef;
}

.half {
    height: 50%;
    min-height:50%;
    overflow: scroll;
}

#liveData {
    color:#00FF00;
}

.half-width {
    width: 50%;
}


